[class*="tooltip.minimum"] {
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--color-black) 65%, #00000000 20%);
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;

    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-black);

    box-shadow: var(--shadow-sm);
    min-width: 2.5rem;
    min-height: 1.25rem;
    padding-left: .5rem;
    padding-right: .5rem;

    color: var(--color-white);
    font-size: 1.15rem;
    transition-duration: .1.5s;

    * {
        margin: 0;
    };

}


[class*="tooltip.minimum"] [class="danger"] {
    color: var(--color-red);

}