div[class="container"] {
    z-index: 9999;
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 0;
    /* padding-left: 1.25rem; */
    /* padding-right: 1.25rem; */
    min-height: fit-content;
    height: fit-content;
    /* background-color: var(--color-white); */
    /* background-image: url("../public/dot-pattern.png"); */
    gap: 0.75rem;
    margin-bottom: 3rem;
    position: relative;
}

div[id^="cat"] {
    position: relative;

}

div[id^="cat"]::before {
    content: "";
    position: absolute;
    top: 0;
    width: 90vw;
    height: 90vh;
    background-image: url("../public/dot-pattern.png");
    background-repeat: no-repeat;
    background-size: 60% 50%;
    z-index: -1;
    opacity: .5;
}

div[id="cat1"]::before {
    left: 0;
}

div[id="cat2"]::before {
    transform: scaleX(-1);
    right: 0;
}
