.text-light {
  font-family: var(--font);
  font-weight: 300;
}

.text-regular {
  font-family: var(--font);
  font-weight: 400;
}

.text-medium {
  font-family: var(--font);
  font-weight: 500;
}

.text-semibold {
  font-family: var(--font);
  font-weight: 600;
}

.text-bold {
  font-family: var(--font);
  font-weight: 700;
}
