:root {
  --color-primary: #F5EFFF;
  --color-blue: #2739df;
  --color-yellow: #dfd327;
  --color-grey: #555555
}

.bg-maim-primary {
  background-color: var(--color-primary);
}

.bg-blue {
    background-color: var(--color-blue);
    
}

.bg-yellow {
    background-color: var(--color-yellow);

}

.card {
  background-color: color-mix(in srgb, var(--color-grey) 20%, var(--color-primary) 80%) !important;

}

.card::before {
  filter: blur(2px);

}

img {
  object-fit: cover;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.uploaded-image {
  cursor: pointer;
  border-radius: 50%;

}

.avatar-preview:hover {
  filter: brightness(80%);

}

.avatar-preview .uploaded-img-icon {
  display: none;
}

.avatar-preview:hover .uploaded-img-icon {
  display: block;
}

.uploaded-img-icon {
  filter: invert(1) brightness(2) contrast(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
